In [7]:
import numpy as np
import pandas as pd

SyntaxError: unmatched ']' (1205631335.py, line 1)

In [12]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=
['column1','column2','column3','column4'])

In [13]:
df.head()

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [17]:
df.loc['row1']

column1    0
column2    1
column3    2
column4    3
Name: row1, dtype: int32

In [18]:
type(df.loc['row1'])

pandas.core.series.Series

In [19]:
df.to_csv('test1.csv')

In [20]:
df.iloc[ : , : ]

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [33]:
holidaydata=pd.read_csv("holiday.csv")

In [34]:
print(holidaydata)

     destination  score  hotel star  hotels most visited city
0          India      8           4      14             Delhi
1          Dubai      9           5      12             dubai
2             US     10           5      18          new york
3         Canada      9           4      12           Toronto
4             UK     10           4      13            London
5         France      7           4      10             Paris
6       Pakistan      6           3       7            lahore
7          Egypt      6           3       8             Cairo
8      Abu dhabi      9           4      10         Abu dhabi
9          Spain      8           4      13            Madrid
10   Switzerland      9           4      12              bern
11     Australia      8           4      14          Canberra
12        Norway      1           3      11              oslo
13  South Africa      1           3       8         Cape Town
14        Brazil      1           3       5          Brasilia

In [35]:
holidaydata.iloc[2:8, : ]

  destination  score  hotel star  hotels most visited city
2          US     10           5      18          new york
3      Canada      9           4      12           Toronto
4          UK     10           4      13            London
5      France      7           4      10             Paris
6    Pakistan      6           3       7            lahore
7       Egypt      6           3       8             Cairo

In [28]:
holidaydata["hotels"].mean()

11.133333333333333

In [29]:
myfilter=holidaydata["hotels"]>9

In [30]:
print(myfilter)

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13    False
14    False
Name: hotels, dtype: bool

In [31]:
myfilter1=holidaydata["score"]>8
print(myfilter1)

0     False
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14    False
Name: score, dtype: bool

In [36]:
myfilter2=holidaydata["score"]<2
print(myfilter2)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
Name: score, dtype: bool

In [37]:
holidaydata["score"].max()

10

In [38]:
holidaydata["score"].min()

1